PORT=1
ENV_NODE=development
BASE_PATH=

# Database configuration
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_DIALECT=
DB_PORT=

# Time configuration
APP_LOCALE=sv-SE
APP_TIMEZONE=America/El_Salvador

# Jwt configuration
JWT_SECRET_KEY=
JWT_EXPIRATION=10s
JWT_ALGORITHM=
JWT_ISSUER=
JWT_AUDIENCE=

# key for cameras
JWT_SECRET_KEY_CAM=
JWT_EXPIRATION_CAM=

# Encryp configuration
ENCRYP_SALT=
DUMMY_HASH=

#Auth values
DEFAULT_ROLE=

# COnfidence configs
MIN_CONFIDENCE=0.7