PORT=3000
ENV_NODE=development
BASE_PATH=/iot/v1

# Database configuration
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=localhost
DB_DIALECT=postgres
DB_PORT=5432

# sequelize configuration
SQ_SYNC_ALTER=true # Esto actualizará las tablas para que coincidan con los modelos
SQ_SYNC_FORCE=false # No eliminará las tablas existentes

# Time configuration
APP_LOCALE=sv-SE
APP_TIMEZONE=America/El_Salvador

# Jwt configuration
JWT_SECRET_KEY=
JWT_EXPIRATION=
JWT_ALGORITHM=
JWT_ISSUER=
JWT_AUDIENCE=

# key for cameras
JWT_SECRET_KEY_CAM=
JWT_EXPIRATION_CAM=


# Encryp configuration
ENCRYP_SALT=10
DUMMY_HASH=$2b$10$CwTycUXWue0Thq9StjUM0uJ8s9r0y5c5e8JD7BqXc9Ew5z9Y5e5eG11

#Auth values
DEFAULT_ROLE=

# COnfidence configs
MIN_CONFIDENCE=0.7

AUTO_CREATE_SCAN_CONFIG=

# Mqtt configuration
MQTT_URL=mqtts:
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_CLIENT_ID=
MQTT_SUBCRIBE_TOPIC=cameras/%CAMERA%/scan
MQTT_PUBLISH_TOPIC=warehouses/+/scan/result

# Configuraciones genrales
TIMEOUT_MQTT=50000

AUTO_CREATE_SCAN_CONFIG=true
